.main
  .main__memo-index
    .main__memo-index__title
      = "めも"
      .main__memo-index__box
        .input
  .main__post
    .main__post__title
      .post-left
        = "投稿"
      .post-right
        .amounts
          - if user_signed_in?
            = link_to posts_path do
              = "記事一覧：#{@posts.count}件"
          - else
            = "投稿数：0件"
    .main__post__box
      = form_for @post do |f|
        .input
          .title-btn
            = f.text_field :title, autofocus: true, placeholder: "タイトル", class: "input-title"
            = f.submit "保存", class: "btn"
          = f.text_area :content, autofocus: true, placeholder:"本文", class: "input-content"