.main
  .main__memo-index
    .main__memo-index__title
      .memo-start
        = "メモ"
      .main__memo-index__box
        = form_with url: memos_path, local: true, data: { persist: 'garlic' } do |f|
          = f.submit "メモを削除する", class: "btn", id: "memo-submit-btn"
          .input
            = f.text_area :content, class: "input-memo"
  .main__post
    .main__post__title
      .post-left
        = "投稿"
      .post-right
        .amounts
          - if user_signed_in?
            = link_to posts_path do
              = "記事一覧：#{@posts.count}件"
          - else
            = "投稿数：0件"
    .main__post__box
      = form_with model: @post, local: true, data: { persist: 'garlic' } do |f|
        .input
          .title-btn
            = f.text_field :title, autofocus: true, autocomplete: "off", placeholder: "タイトル", class: "input-title"
            = f.submit "保存", class: "btn"
          = f.text_area :content, autofocus: true, placeholder:"マークダウンが使えます", class: "input-content"