!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Output
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "layouts/flash"
    .header
      .header__title
        = link_to root_path do
          = "アウトプットしてえらい！"
      .header__signin
        - if user_signed_in?
          .left
            = link_to root_path do
              = "投稿する"
          .right
            = link_to link_to destroy_user_session_path, method: :delete do
              = "ログアウト"
        - else
          .left
            = link_to "ログイン"
          .right
            = link_to "新規登録"
    = yield

