.devise-main
  .devise
    .devise__title
      = "新規登録"
    .devise__signup
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "users/shared/error_messages", resource: resource
        .field
          .form-title
            = f.label :nickname, "ニックネーム(15文字以内)"
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "input"
        .field
          .form-title
            = f.label :email, "メールアドレス"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "input"
        .field
          .form-title
            = f.label :password, "パスワード(6桁以上)"
          = f.password_field :password, autocomplete: "new-password", class: "input"
        .field
          .form-title
            = f.label :password_confirmation, "確認用"
          = f.password_field :password_confirmation, autocomplete: "new-password", class: "input"
        .actions
          = f.submit "登録", class: "devise-btn"
